.splash {
  background-image: url("/splash.png");
  background-size: cover;
  box-shadow: inset 0 -8em 10em 1em rgb(0 0 0 /0.8),
    inset 0 50em rgb(0 0 0 / 0.2);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

.button {
  cursor: pointer;
  display: inline-flex;
  border: 0;
  text-decoration: none;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1em 1.125em -1em var(--clr-accent-400);
  transition: 0.4s;
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-400);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-300);
}

.logo {
  text-decoration: none;
  font-size: var(--size-500);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}

/* Navigation */

.primary-header {
  padding-block: var(--size-400);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-700), 5vw, var(--size-800));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;

    position: fixed;
    padding: var(--size-700);
    inset: 5rem var(--size-400) auto;
    max-width: 25rem;
    margin-left: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.125);
  }

  .primary-header[data-overlay="true"]::before {
    content: "";
    position: fixed;
    inset: 0;
    height: 100vh;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible="true"] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-400);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

.opened {
  display: block;
  position: fixed;
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

/* Footer */
.flex {
  display: flex;
  gap: 1rem;
}
